#create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#create-point header a{
    color:var(--title-color);
    display: flex;
    align-items: center;
    font-weight: bold;
}
#create-point header a span{
    background-image: url('../assets/icones/arrow-left.svg');
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 16px;
}

form{
    background-color: white;
    margin: 80px auto;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
    box-sizing: border-box;
}

form h1{
    font-size: 36px;
}
form fieldset{
    margin-top: 64px;
    border: 0;
}
form legend{
    margin-bottom: 40px;
}
form legend h2{
    font-size: 24px;
}
form .field{
    flex: 1;
    display: flex;
    flex-direction: column;
}
form .field-group{
    display: flex;
}
form input,
form select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form label{
    font-size: 14px;
    margin-bottom: 8px;
}
form .field-group .field + .field{
    margin-left: 24px;
}
form button{
    width: 260px;
    height: 56px;
    background-color: var(--prymary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: 400ms;
}
form button:hover{
    background-color: #2fb86e;
    font-size: 18px;
}

.itens-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.itens-grid li{
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer;
}
.itens-grid li span{
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color:var(--title-color);
}

.itens-grid li.selected{
    background: #e1faec;
    border: 2px solid #34cb79;
}

.itens-grid li img,
.itens-grid li span{
    pointer-events: none;
}